* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background: #0f172a;
    color: white;
}

/* Hamburger hidden on desktop */
.menu-toggle {
    display: none;
    font-size: 28px;
    cursor: pointer;
}

/* Nav links */
.nav-links {
    display: flex;
}

/* 📱 Mobile */
@media (max-width: 768px) {

    .menu-toggle {
        display: block;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background: #020617;
        text-align: center;
        margin-top: 10px;
    }

    .nav-links a {
        padding: 10px;
        border-top: 1px solid #1e293b;
    }

    .nav-links.active {
        display: flex;
    }

    nav {
        flex-direction: column;
        align-items: center;
    }
}

/* Navbar */
nav {
    flex-wrap: wrap;
}

.nav-links {
    transition: all 0.3s ease;
}

nav div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 10px;
}

nav h2 {
    color: #38bdf8;
}

nav a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

/* Hero Section */
.hero {
    text-align: center;
    padding: 80px 20px;
}

.hero h1 {
    font-size: 40px;
}

.hero span {
    color: #38bdf8;
}

.hero p {
    margin-top: 10px;
    color: #94a3b8;
}

/* Section */
.section {
    padding: 50px 20px;
}

.section h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #4d8dadf5;
}

/* Skills */
.skills-section {
    text-align: center;
}

.skills-section h2 {
    font-size: 40px;
    margin-bottom: 10px;
}

.skills-section h2 span {
    color: #27e1ff;
}

.underline {
    width: 80px;
    height: 4px;
    background: #27e1ff;
    margin: 0 auto 50px;
    border-radius: 5px;
}

.skills-container {
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.skill-card {
    width: 300px;
    padding: 30px 20px;
    border-radius: 20px;
    background: linear-gradient(145deg, #233d3f, #1c2e30);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.25);
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(0, 255, 255, 0.45);
}

.icon-circle {
    width: 80px;
    height: 80px;
    margin: 0 auto 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    transition: 0.3s;
}

.skill-card h3 {
    font-size: 30px;
    margin-bottom: 15px;
}

.skill-card p {
    font-size: 18px;
    line-height: 1.7;
    margin-bottom: 25px;
}

.progress-bar {
    width: 100%;
    height: 18px;
    background: #d9d9d9;
    border-radius: 20px;
    overflow: hidden;
}

.progress {
    height: 100%;
    border-radius: 20px;
}

.frontend {
    width: 85%;
    background: #ff5722;
}

.backend {
    width: 78%;
    background: #3498db;
}

.database {
    width: 80%;
    background: #27ae60;
}

.version {
    width: 72%;
    background: #ff2d55;
}

@media(max-width:768px) {
    .skill-card {
        width: 100%;
    }
}

.skill:hover {
    transform: translateY(-5px);
}

/* Projects */
.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    border-radius: 10px;
}

.project img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    display: block;
}

.project img {
    transition: transform 0.3s ease;
}

.project:hover img {
    transform: scale(1.05);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.9);
    color: white;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.3s;
}

/* Show when active */
.project.active .overlay {
    opacity: 1;
}

.project:hover .overlay {
    opacity: 1;
}

.card {
    background: #1e293b;
    padding: 20px;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    color: #38bdf8;
    text-decoration: none;
}

/* Contact */
.contact {
    text-align: center;
}

.contact a {
    display: inline-block;
    margin: 10px;
    color: #38bdf8;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #020617;
    margin-top: 30px;
}



/* 📱 Mobile */
@media (max-width: 768px) {

    nav {
        padding: 15px 20px;
        flex-direction: column;
        align-items: center;
    }

    .hero h1 {
        font-size: 28px;
    }

    .section {
        padding: 30px 20px;
    }

    .skills {
        gap: 20px;
    }

    .skill {
        width: 140px;
        padding: 10px;
    }
}

.profile-circle {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: #38bdf8;
    border: 2px solid #38bdf8;
    transition: 0.3s;
}

.profile-wraper {
    display: flex;
    justify-content: center;
}

.resume-btn {
    margin-top: 20px;
    display: inline-block;
    padding: 12px 25px;
    background: #27e1ff;
    color: #000;
    font-weight: bold;
    border-radius: 8px;
    text-decoration: none;
    transition: 0.3s;
   
}

.resume-btn:hover {
    background: #00bcd4;
    transform: translateY(-3px);
}